@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}


@theme{
  --breakpoint-vsm:350px
}